<!-- admin button  -->
<!-- <button routerLink="/adminlogin">Admin Login</button> -->

<!-- User Button -->
<!-- <button routerLink="/userlogin">User Login</button> -->

<!-- ---------------------------------------------- -->

<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; 
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>
</head>
<body>

<h2>Two Equal Columns</h2>

<div class="row">
  <div class="column" style="background-color:#aaa;">
    <h2>Admin</h2>
    <p routerLink="/adminlogin">Admin Login..</p>
  </div>
  
  <div class="column" style="background-color:#bbb;">
    <h2>User</h2>
    <p routerLink="/userlogin">User Login</p>
  </div>
</div>

</body>
</html>
